body {
            margin: 0;
            height: 100vh;
            background-image: url('Background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 70%;
            max-width: 800px;
            margin: 10vh auto;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.7);
            border: 3px solid #00ffff;
            border-radius: 15px;
            box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
        }

        h1 {
            color: #00ffff;
            margin-bottom: 20px;
        }

        select, input[type="text"], button[type="submit"] {
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #00ffff;
            background-color: rgba(20, 20, 20, 0.1);
            color: rgb(0, 217, 255);
            font-size: 1em;
        }

        select:focus, input:focus {
            outline: none;
            box-shadow: 0 0 8px #00ffff;
        }

        button[type="submit"] {
            background-color: #00ffff;
            color: black;
            cursor: pointer;
            border: none;
            transition: 0.3s;
        }

        button[type="submit"]:hover {
            background-color: #ffffff;
            transform: scale(1.05);
        }

        .resultado .item {
            margin-top: 15px;
            padding: 15px;
            border-radius: 10px;
            background-color: rgba(0, 255, 255, 0.1);
            border: 1px solid #00ffff;
            position: relative;
        }

        .resultado .texto {
            font-weight: bold;
            font-size: 1.1em;
        }

        .resultado .subtexto {
            font-size: 0.9em;
            color: #ffffff;
            margin-bottom: 10px;
        }

        .botoes {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .botao {
            border: none;
            cursor: pointer;
            border-radius: 8px;
            padding: 8px 12px;
            font-size: 1em;
            transition: 0.3s;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .editar {
            background-color: #2196f3;
            color: white;
        }

        .editar:hover {
            background-color: #0080ff;
        }

        .excluir {
            background-color: #ff0000;
            color: white;
        }

        .excluir:hover {
            background-color: #ff0000;
        }

        .vazio {
            color: #ccc;
            font-style: italic;
        }